body {
  font-size: 16px;
  line-height: 22px;
  color: #283136;
  font-weight: 400;
  font-family: "Roboto", "Arial", sans-serif;
  background: lightyellow;
}
h1 {
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  font-weight: 400; /* тут ещё подумаю - вообще насчёт всех заголовков*/
  font-family: "Roboto", "Arial", sans-serif;
}
h2 {
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  font-weight: 400;
  font-family: "Roboto", "Arial", sans-serif;
}
.clearfix::after {
  content:"";
  display: table;
  clear: both;
}
.container {
  width: 1200px;
  margin: 0 auto;
  background: white;
}
.main-header {
  background: lightgray;
}
.main-navigation-logo {
  float: left;
}
.main-header-navigation-list {
  float: left;
}
.main-header-user-block {
  float: right;
}
main {
  width: 880px;
}

.main-items {
  width: 880px;
  padding: 80px 5px;
  font-size: 0;
  vertical-align: left;
}
.main-items > li {
  display: inline-block;
}
.main-item1 {
  width: 240px;
}
.main-item2 {
  width: 240px;
}
.main-item3 {
  width: 240px;
}


.main-about {
  padding: 20px 150px;;
}
.main-about-left {
  float: left;
  width: 625px;
  margin-right: 20px;
}
.main-about-right {
  float: right;
  width: 235px;
}
